{% extends 'base.html' %}
{% block content %}
    {% for blog in blogs.all %}
        <div class="card" style="width: 70rem;">
            <div class="card-body">
                <h5 id = no class="card-title">{{ blog.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.time}}</h6>
                <p id = dog class="card-text">{{ blog.summary}} </p>
                <a id = dog href="{% url 'detail' blog.id %}" class="card-link">...more</a>
            </div>
        </div>
      {% endfor %}
{% endblock %}
